#sfb882_doc_content {
  width:100%;
  height:100%;
}

#testarea {
	position: absolute;
	top: 103px;
	height: 356px;
	border: 1px solid black;
  overflow: scroll;
}

#test_rect {
  width: 3em;
  height: 3em;
  border: 1px solid black;
  background-color: green;
}

.container_connector_inner_sibling {
  padding-top: 166%;
}

#fileframe {
  height: 100%;
  width: 100%;
}

.container_sibling {
  padding-top: 66%;
}

.container { 
  border: 2px black solid;
  z-index: 0;
  display: inline-block;
  position: relative;
  /*width: 20%;*/
}

.container_outer_div {
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon_bar_pos_1 {
  left: 67px;
  top: 46px;
}

.create_icon {
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: rgba(221, 228, 228, 1);  
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px #222222 inset;
}

.open {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 -2px 10px #222222 inset;
  z-index: 25;
  min-height: 500px;
}

.closed {
  position: absolute;
  /*height: 20%;*/
  width: 17%;
  max-width: 250px;
  min-width: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 -2px 10px #222222 inset;  
  z-index: 0;
}

.stored {
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -1px 5px rgb(34, 34, 34) inset;
  height: 4em;
  position: absolute;
  width: 6em;
  z-index: 9;
}

.closed>.container_outer_div {
  overflow: hidden;
}

.base_central {
  left: 40em;
  top: 30em;
}

.base_corner {
  left: 0;
  top: 3em;
}

.top_left {
  left: 5%;
  top:11em;
}

.top_right {
  left: 33%;
  top: 11em;
}

.bottom_left {
  left: 4em;
  top: 32em;
}

.bottom_right {
  left: 33%;
  top: 32em;
}

.icon_bar {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.icon_area {
  width: 10em;
  height: 10em;
  float:left;
  margin-right: 5em;
}

#create_area {
  background: url('/apps/sfb882_doc/img/create.svg') no-repeat;
  background-size: 100% 100%;
}

.trash_area {
  background: url('/apps/sfb882_doc/img/trash.svg') no-repeat;
  background-size: 100% 100%;
}

.duplicate_area {
  background: url('/apps/sfb882_doc/img/duplicate.svg') no-repeat;
  background-size: 100% 100%;
}

.export_area {
  background: url('/apps/sfb882_doc/img/export.svg') no-repeat;
  background-size: 100% 100%;
}

.trash_area_hover {
  border: 1px dotted grey;
}


/*
.container:hover {
  outline-style: dotted;
  outline-width: 0.5em;
  outline-color: gray;
}
*/
.container_title {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px gray solid;
  text-align: center;
  font-family: inherit;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.small_title {
  height: 30px;
  font-size: 150%;
  font-weight: bold;
  margin-top: 1%;
}

.very_small_title {
  height: 1.8em;
  line-height: 1.8em;
  font-size: 100%;
}

.large_title {
  height: 3em;
  font-size: 250%;
  line-height: 3em;
}

.share_tooltip {
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px #222222 inset;
  background: rgb(182, 200, 40);
  font-size: 120%;
}

.pre_field_work {
  background-color: rgba(255, 0, 0, 1);
}

.general_information {
  background-color: rgba(255, 102, 0, 1);
}

.main {
}

.standard {
  background-color: rgba(255, 255, 255, 0.5);
}

.cont_5 {
  background-color: rgba(161, 97, 142, 1);
}

.pretests {
  background-color: rgba(70, 128, 9, 1);
}

.field_phase {
  background-color: rgba(245, 158, 169, 1);
}

.after_field_phase {
  background-color: rgba(22, 207, 32, 1);
}

.data_processing {
  background-color: rgba(163, 35, 51, 1);
}

.data_qualitative {
  background-color: rgba(205, 195, 15, 1);
}

.syntax_files {
  background-color: rgba(126, 34, 234, 1);
}

.evaluation {
  background-color: rgba(130, 180, 234, 1);
}

#file_section_controls {
  background: none repeat scroll 0 0 rgb(247, 247, 247);
  border-bottom: 1px solid rgb(238, 238, 238);
  box-shadow: 0 -3px 7px rgb(0, 0, 0);
  height: 2.8em;
  margin: 0;
  padding: 0 70px 0 0.5em;
  position: absolute;
  width: 100%;
}

/*
Overwrites from files.css
*/
/*table td.filename a.name { display:block; height:1.5em; vertical-align:middle; margin-left:3em; }*/
table td.filename div.name { display:block; height:1.5em; vertical-align:middle; margin-left:3em; cursor: pointer}
table td.filename div.name span.nametext {cursor: inherit; }

div.crumb div{ padding:0.1em 0 0.7em 0; }

