
#history_dialog {
  width: 70%;
}

#export_dialog p {
  font-weight: bold;
}

#duplicate_dialog p {
	font-weight: bold;
}

.color_slider {
  margin-bottom: 3em;
  width: 16em;
  float:left;
  clear:left;
}

#example_container {
  height: 9em;
  width: 12em;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px #222222 inset;
  background-color: rgba(153, 204, 0, 1);
  float: right;
  clear: right;
}

#color_slider_red .ui-slider-range { 
  background: #ff0000;
}

#color_slider_green .ui-slider-range { 
  background: #00ff00; 
}

#color_slider_blue .ui-slider-range { 
  background: #0000ff; 
}

#color_slider_red .ui-slider-handle {
  background: #ff7878; 
  border: 2px solid black;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0px 1px #222222 inset;
}

#color_slider_green .ui-slider-handle {
  background: #78ff78; 
  border: 2px solid black;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0px 1px #222222 inset;
}

#color_slider_blue .ui-slider-handle {
  background: #7878ff;
  border: 2px solid black;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0px 1px #222222 inset;
}

.option_dialog_selection {
  border: 1px solid rgb(128, 128, 128);
  clear: both;
  float: left;
  font-weight: bold;
  padding: 5px;
  width: 95%;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5), 0 0 1px rgb(34, 34, 34) inset;
  background-color: white;
  margin-top: 5px;
}
