
.drawer {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -1px 5px rgb(34, 34, 34) inset;
  background-color: rgba(230, 254, 255, 0.85);
  position: absolute;
  overflow: hidden;
  z-index: 6;
}

#share {
  top: 150px;
  left: 26px;
}

#bin {
  z-index: 12;
}

.minimized {
  width: 10.2em;
  height: 8em;
}

.maximized {
  width: 600px;
  height: 260px;
}

.ultramized {
  width: 600px;
  height: 460px;
}

.drawer_icon_area {
  float: left;
  left: 41em;
  z-index: 11;
  width:6em;
  height: 8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -1px 5px rgb(34, 34, 34) inset;
}

#share_icon_area {
  cursor: move;
  background-color: rgb(182, 200, 40);
}

#bin_icon_area {
  background-color: rgb(255, 127, 42);
}

#options_icon_area {
  cursor: move;
  background-color: rgb(255, 215, 0);
}

#files_icon_area {
  cursor: move;
  background-color: rgb(24, 127, 253);
}

.drawer_icon {
  position: relative;
  top: 1.5em;
  left: 0.7em;
  width: 60px;
  height: 60px;
  cursor: inherit;
  background-repeat: no-repeat;
  z-index: 20;
}

#group_icon {
  background-image: url('/apps/sfb882_doc/img/group.svg');
}

#bin_icon {
  background-image: url('/apps/sfb882_doc/img/bin.svg');
}

#files_icon {
  background-image: url('/apps/sfb882_doc/img/file.svg');
}

#options_icon {
  background-image: url('/apps/sfb882_doc/img/options.svg');
}

.share_icon {
  position: relative;
  top: 0.2em;
  left: 1.2em;
  width: 45px;
  height: 45px;
  cursor: inherit;
  background-image: url('/apps/sfb882_doc/img/share.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 20;
}

.drawer_handle {
  width: 4em;
  height: 8em;
  cursor: pointer;
  border:1px solid black;
  background-image: url('/apps/sfb882_doc/img/drawer.svg');
  background-size: 4em 8em;
  background-color: rgba(230, 254, 255, 0.2);
  float: right;
  z-index: 12;
}

.drawer_text {
  color: rgb(160, 160, 160);
  font-size: 150%;
  font-weight: bold;
  margin: 5em;
}

#options_pane {
  margin-left: 85px;
  margin-top: 5px;
  width: 450px;
  height:300px;
}

#options_animation_time_pane {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
  height: 100px;
}

#animation_time_slider {
  margin: 10px;
  background: rgba(255, 255, 255, 0.7);
}

/*small fix for file drawer table header (avoid transparency)*/
#filestable>thead{
  background-color: white;
}

#testarea{
  background-color: white;
}
