
.input_button {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  float: left;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px #222222 inset;
}

.input_button:hover {
  border: 2px solid yellow;
}

.checkbox_adder {
  display: inline-block;
  float: left;
  margin-top: 0.5em;
  width: 60%;
}

.custom {
  background-color: rgb(182, 200, 40);
  font-weight: bold;
  max-height: 9em;
  overflow: hidden;
  padding: 0.3em;
  margin: 0.3em;
}

.adder_area {
  border: 1px solid black;
  display: inline-block;
  width: 80%;
  height: 4em;
}

.invalid {
  background: url('/apps/sfb882_doc/img/redcross.svg');
  background-size: contain;
}

.save {
  background: url('/apps/sfb882_doc/img/ok_button.png');
  background-size: 100% 100%;
  margin-right: 2em;
  margin-left: 0.5em;
  float: right;
}

.redo {
  background: url('/apps/sfb882_doc/img/redo_button.png');
  background-size: 100% 100%;
  float: left;
}

.undo {
  background: url('/apps/sfb882_doc/img/undo_button.png');
  background-size: 100% 100%;
  margin-right: 0.5em;
  clear: both;
  float: left;
}

.content-title {
  border: 1px solid black;
}

.title_string {
  color: rgb(20, 20, 20);
}

.file_dropper {
  background: url('/apps/sfb882_doc/img/file_icon.svg');
  background-size: 100% 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.5), 0 0 0 #222222 inset;
  width: 7em;
  height: 7em;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  clear: both;
  display: inline-block;
  float:left;
}

.file_info_section {
  width: 7em;
  height: 7em;
  border-width: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.5), 0 0 0 #222222 inset;
  background-color: rgb(200, 200, 200);
  display: inline-block;
  width: 78%;
  height: 29em;
  margin: 0 1em;
  overflow: auto;
}

.file_info_section_fieldset {
  border: 1px solid black;
  margin: 0.2em;
  padding: 0.4em;
  background: linear-gradient(to bottom, rgba(182, 200, 40, 1) 0%, rgba(222, 240, 80, 1) 100%);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 #222222 inset;
  font-weight: bold;
  width: 46%;
  float: left;
}

.file_info_section_fieldset>input[type=text] {
  width: 90% !important;
}

.file_info_section_fieldset>input[type=checkbox] {
  float:left;
  margin-right: 0.3em;
}

.file_info_section_fieldset>input[type=button] {
  margin-top: 1em;
}

.fis_comments {
  resize: none;
  font-size: 100% !important;
  width: 90% !important;
  height: 136px;
}

.file_icon {
  display: inline-block;
  margin: 1em;
  float:left;
  width: 4em;
  overflow: hidden;
  border: 3px solid rgba(30, 30, 240, 0);
  padding: 2px;
}

.file_icon_selected {
  border: 3px solid rgba(30, 30, 240, 1) !important;
}

.file_public_image {
  width: 2.5em;
  height: 2.5em;
  background-image: url('/apps/sfb882_doc/img/share.svg');
  background-size: 100% 100%;
  float:left;
  margin-top:1.3em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.file_icon_shape {
  width: 3em;
  height:4em;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), 0 0 0 #222222 inset;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: rgb(234, 50, 70);
}

.file_active {
  background-color: rgb(212, 244, 107);
}

.file_icon_text {
  font-size: 85%;
  font-weight: bold;
  text-align:center;
  margin-top: 0.1em;
}

.file_selected_area {
  width: 1em;
  height: 1em;
  background: white;
  border: 2px solid black;
  clear: left;
  float: left;
  height: 11em;
  margin-top: 1em;
  padding-top: 0.5em;
  width: 7em;
  box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.5), 0 0 0 #222222 inset;
}

.file_list {
  width: 100%;
  height: 12em;
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
}

.dropper_active {
  background-color: rgb(182, 200, 40);
}

.dropper_hover {
  border-color: yellow;
}

.plus {
  background: url('/apps/sfb882_doc/img/plus_button.png');
  background-size: 100% 100%;
  margin-top: 0.6em;
}

.title_button {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  font-size: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px #222222 inset;
}

.close_button {
  background: url('/apps/sfb882_doc/img/ok_button.png'); 
  background-size: 100% 100%;
  float: right;
  margin: -6px 6px 0 0;
}

.history_button {
  background: url('/apps/sfb882_doc/img/hourglass_2.png');
  background-size: 100% 100%;
  float: left; 
  margin: -6px 0 0 6px;
}

.options_button {
  background: url('/apps/sfb882_doc/img/cogwheel.png');
  background-size: 100% 100%;
  float: left; 
  margin: -6px 0 0 6px;
}

.logo {
  height: 1.5em;
  display: inline-block;
  float: right;
  margin-left: 2px;
}
.ddi {
  background: url('/apps/sfb882_doc/img/ddi-logo.png');
  background-size: 100% 100%;
  width: 3em;
}

.pub {
  background: url('/apps/sfb882_doc/img/pub_transparent.png');
  background-size: 100% 100%;
  width: 3em;
}

.pevz {
  background: url('/apps/sfb882_doc/img/logo_bis_gruen.png');
  background-size: 100% 100%;
  width: 3em;
}

.mand_mult {
  background: url('/apps/sfb882_doc/img/mand_mult.svg');
  background-size: 100% 100%;
  width: 0.8em;
  height: 0.8em; !important
}

.mand_plus {
  background: url('/apps/sfb882_doc/img/mand_plus.svg');
  background-size: 100% 100%;
  width: 0.8em;
  height: 0.8em; !important   
}

.mand_title {
  display: inline-block;
}

.file {
  background: url('/apps/sfb882_doc/img/file_icon.svg');
  background-size: 100% 100%;
  width: 1.5em;
}

.horizontal-separator {
  height: 80%;
  width: 100%;
  background: url('/apps/sfb882_doc/img/progress_circle.svg');
  background-size: 100% 100%;
  margin-top: 4%;
}

.qualitative_box {
  background-color: rgb(128, 128, 128);
  border: 2px outset rgb(0, 0, 0);
  border-radius: 2px 2px 2px 2px;
  left: 1%;
  padding: 4px;
  position: relative;
  top: 30%;
  width: 200px;
}

.quantitative_box {
  background-color: rgb(128, 128, 128);
  border: 2px outset rgb(0, 0, 0);
  border-radius: 2px 2px 2px 2px;
  left: 1%;
  padding: 4px;
  position: relative;
  top: 1%;
  width: 200px;
}

.qualitative_selector {
  margin-left: 5px !important;
}

.quantitative_selector {
  margin-left: 5px !important;
}

.title_button:hover {
  border: 2px solid yellow;
}

.container_pane {
  border: 1px solid black;
  width: 84%;
}

.left_pane {
  width: 19%;
  height: 79%;
  float: left;
}

.central_pane {
  width: 80%;
  height: 79%;
  float: right;
}

.container_sidebar {
  border-bottom: 1px solid grey;
  height: 8%;
  padding: 1em;
  font-size: 140%;
  font-weight: bold;
}

.subcontainer_create_icon {
  position: relative;
  width: 45px;
  background-color: rgba(221, 228, 228, 1);  
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 5px #222222 inset;
  left: 40px;
  top: 45px;
}

.subcontainer_create_icon_placeholder {
  position: relative;
  left: 40px;
  top: 45px;
}

.in_sidebar {
  left: 1%;
  top: 47.5%;
}

.middle_one {
  left: 1.5%;
  top: 43.5%;
}

.upper_two_first {
  left: 24.5%;
  top: 10%;
}

.upper_two_second {
  left: 29.5%;
  top: 16%;
}

.lower_two {
  left: 53.5%;
  top: 10%;
}

.middle_three {
  left: 80.5%;
  top: 32.5%;
}

.upper_four {
  left: 80.5%;
  top: 60%;
}

.lower_four {
  left: 61.5%;
  top: 65%;
}

.upper_five {
  left: 59.5%;
  top: 75%;
}

.lower_five {
  left: 34.5%;
  top: 75%;
}

.progress_label {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 150%;
  font-weight: bold;
  left: 40%;
  position: absolute;
  text-shadow: 1px 1px rgb(0, 0, 0);
  top: 3px;
}

/*
-----------------form input style------------------
*/
.content_title {
  width:80%;
  margin-left:3em;
  padding-top:3em;
  font-size: 120%;
}

.content_input, .content_input_textarea, .content_input_checkbox_area, .content_input_file_field {
  width:81%;
  margin-left:4em;
}

.content_input>textarea {
  display: inline-block;
  resize: none;
  height: 6em;
  float: left;
  width: 95%;
  margin-bottom:0.5em;
}

.content_input>input {
  display: inline-block;
  float: left;
  width: 95%;
  margin-bottom:0.5em;
}

.checkbox_unit>input {
  float: left;
}

.checkbox_unit {
  width: 21em;
  margin-top: 0.4em;
  float: left;
  padding: 0.1em;
  cursor: pointer;
}

.checkbox_unit>input[type=checkbox] {
  margin-right: 0.2em;
}

.progressbar_container {
  display: inline-block;
  margin: 22% 10% 2%;
  width: 80%;
}

/*
--------------jquery css overwrites---------------------
*/


.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
  background: rgb(182,200,40);
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5), 0 -2px 2px #222222 inset;
  max-height: 250px;
  max-width: 800px;
}

.ui-accordion {
  border: 1px solid black;
  overflow-y: auto;
  height: 90%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5), 0 -2px 2px #222222 inset;
  border: 1px black solid;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
  border-top-left-radius: 20px;
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 2em 1em;
	border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
	overflow-x: hidden;
  overflow-y: scroll;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Lucida Grande",Arial,Verdana,sans-serif;
    font-size: 160%;
}

.ui-progressbar {
    height:2em; 
    text-align: left;
    padding-left: 2px;
    position: relative; 
}
.ui-progressbar .ui-progressbar-value {
    margin: -1px; 
    height:100%; 
}

/*
------------end jquery overwrites-------------------------
*/
